@media (max-width: 1200px) {
    .promo {
        .header {
            padding-left: 70px;
            margin-right: 20px;
            &__phone {
                font-size: 17px;

            }
        }
        &_wrapper {
            margin-right: 20px;
        }
        &__header {
            font-size: 35px;
        }
        &__subheader {
            font-size: 19px;
        }
        &__icons {
            margin-top: 60px;
        }
        &__icon {
            img {
                display: block;
                width: 40px;
            }
        }
        
    }
    .carousel {
        /* Початок адаптації під  Slick Slider*/
        &__inner {
            width: 70%;
            .slick-track {
                width: 70%;
                img {
                    width: 80%;
                    display: block;
                    margin: 0 auto;
                }
            }
        }
        /* Кінець адаптації під  Slick Slider*/
        
        /* початок адаптації суто під  Tiny Slider*/
       /*  &__inner {
            .tns-item {
                img {
                    width: 70%;
                }
            }
        } */
        /* кінець адаптації суто під  Tiny Slider*/
        
        /* початок Tiny Slider (.prev, .next)*/
        /* .prev {
            left: inherit;
        }
        .next {
            right: 0px;
        } */
        /* кінець для Tiny Slider (.prev, .next)*/
    }
}

@media (max-width: 991px) {
    .promo {
        .header {
            margin-right: 30px;
            &__phone {
                font-size: 15px;
            }
            button {
                font-size: 11px;
            }
        }
        &_wrapper {
            margin-top: 72px;
            margin-right: 30px;
        }
        &__header {
            font-size: 32px;
        }
        &__subheader {
            font-size: 17px;
        }
        &__icons {
            margin-top: 51px;
        }
        &__icon {
            img {
                display: block;
                width: 38px;
            }
        }
    }

    /* початок адаптації суто під  Tiny Slider*/
   /*  .carousel {
        button {
            display: none;
        }
    } */
    /* кінець адаптації суто під  Tiny Slider*/
}

@media (max-width: 767px) {
    .header {
        &__official {
            &:nth-child(2) {
                margin-left: 30px;
                margin-right: 30px;
            }
            font-size: 11px;
            span {
                font-size: 14px;
            }
        }
        &__contacts {
            a {
                font-size: 15px;
            }
            .button {
                width: 130px;
            }
        }
    }
    .advantages {
        &___wrapper {
            flex-direction: column;
            align-items: center;
        }
    }
}

/* @media (max-width: 767px) {
    .promo {
        width: 60%;
    }

} */